box_raspberry_atmega/Bluecity_Raspberry-NodeRed_FLOWS/AtmegaBOX_BLUECITY - FLOW.json
[{"id":"5e18ef6b.bda66","type":"tab","label":"AtmegaBOX_BLUECITY - FLOW","disabled":false,"info":""},{"id":"b69111f0.319618","type":"websocket in","z":"5e18ef6b.bda66","name":"Client Request","server":"96aebf4d.db9578","client":"","x":100,"y":160,"wires":[["b91f5c5.6cd262"]]},{"id":"b91f5c5.6cd262","type":"switch","z":"5e18ef6b.bda66","name":"connection Control","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"connected\":\"hello\"}","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":160,"wires":[["5407d8cb.6a807","5c33a374.554664"],["b8025851.d724a8","5407d8cb.6a807"]]},{"id":"5c33a374.554664","type":"function","z":"5e18ef6b.bda66","name":"welcome or null","func":"if(msg.payload.length > 0){\n\nmsg.payload = \"welcome\";\nreturn msg;\n}else{\n msg.payload = \"NoBoxesDetected\";\nreturn msg;   \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":120,"wires":[["92f574f7.7381b8","4c4f9afe.615214"]]},{"id":"b8025851.d724a8","type":"function","z":"5e18ef6b.bda66","name":"convert JSON to OBJ and Fixing BOX ADDRESS (i2c_addr + 2)","func":"aux= JSON.parse(msg.payload);\nmsg.command= aux.command.charCodeAt(0);\n\n//Fixing address\n//Hay que sumarle +2 a la direccion recibida, porque la \n//asignacion de direcciones de I2C comienza en la 3\nmsg.address= parseInt(aux.address) + 2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":240,"wires":[["3f2eb594.b22c8a"]]},{"id":"3f2eb594.b22c8a","type":"i2c out","z":"5e18ef6b.bda66","name":"","busno":"1","address":"","command":"","payload":"payload","payloadType":"msg","count":"3","x":90,"y":320,"wires":[["8ce2536a.0e3088","79161da.7a7e6e4"]]},{"id":"8ce2536a.0e3088","type":"function","z":"5e18ef6b.bda66","name":"set msg.command at NULL","func":"msg.command=null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":320,"wires":[["661e0cf2.a333bc"]]},{"id":"79f0a3aa.3cde84","type":"function","z":"5e18ef6b.bda66","name":"arrayHex_To_String","func":"msg.payload= msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":400,"wires":[["1cea0b21.4ad29d","524fea44.8a4afc"]]},{"id":"661e0cf2.a333bc","type":"i2c in","z":"5e18ef6b.bda66","name":"","busno":"1","address":"","command":"","count":"3","x":130,"y":400,"wires":[["79f0a3aa.3cde84"]]},{"id":"aba24ccb.0d7f28","type":"delay","z":"5e18ef6b.bda66","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":520,"wires":[["661e0cf2.a333bc"]]},{"id":"1cea0b21.4ad29d","type":"switch","z":"5e18ef6b.bda66","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"str"},{"t":"eq","v":"101","vt":"str"},{"t":"eq","v":"102","vt":"str"},{"t":"eq","v":"111","vt":"str"},{"t":"eq","v":"120","vt":"str"},{"t":"eq","v":"130","vt":"str"},{"t":"eq","v":"256","vt":"str"},{"t":"eq","v":"300","vt":"str"},{"t":"eq","v":"301","vt":"str"},{"t":"eq","v":"302","vt":"str"},{"t":"eq","v":"320","vt":"str"},{"t":"eq","v":"330","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":13,"x":550,"y":540,"wires":[["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],["aba24ccb.0d7f28"],[]]},{"id":"524fea44.8a4afc","type":"function","z":"5e18ef6b.bda66","name":"format JSON request to CLIENT","func":"msg.address = parseInt(msg.address)-2;\nmsg.payload= {\"address\":msg.address,\"statusCode\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":400,"wires":[["92f574f7.7381b8","565c4fb3.1038a8"]]},{"id":"92f574f7.7381b8","type":"websocket out","z":"5e18ef6b.bda66","name":"Response To Client","server":"96aebf4d.db9578","client":"","x":810,"y":240,"wires":[]},{"id":"6389849d.078254","type":"comment","z":"5e18ef6b.bda66","name":"Server Websocket Rpi","info":"FORMATO DE JSON A RECIBIR\n{\"command\":\"S\", \"address\":\"1\"}\n\n","x":100,"y":120,"wires":[]},{"id":"f06b6902.8f1778","type":"i2c scan","z":"5e18ef6b.bda66","name":"","busno":"1","x":340,"y":40,"wires":[["c3bd1c43.298378"],[]]},{"id":"aab87e30.f691d8","type":"debug","z":"5e18ef6b.bda66","name":"Connection Control msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":100,"wires":[]},{"id":"364affda.68b9d8","type":"catch","z":"5e18ef6b.bda66","name":"","scope":["3f2eb594.b22c8a"],"uncaught":false,"x":70,"y":640,"wires":[["a7e39227.6b1b68"]]},{"id":"69f1e9bf.9cf4d8","type":"debug","z":"5e18ef6b.bda66","name":"ERROR- ADDRESS I2C","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":280,"wires":[]},{"id":"1739bc5b.7c759c","type":"debug","z":"5e18ef6b.bda66","name":"SEND to SimulatorBackend","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":220,"wires":[]},{"id":"36c25c1f.9f70e4","type":"debug","z":"5e18ef6b.bda66","name":"I2C_OUT msg-output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":160,"wires":[]},{"id":"5407d8cb.6a807","type":"link out","z":"5e18ef6b.bda66","name":"IN-PRINT \"ConnectionControl msg\"","links":["3217dfb5.3b06b8"],"x":555,"y":160,"wires":[]},{"id":"3217dfb5.3b06b8","type":"link in","z":"5e18ef6b.bda66","name":"OUT-PRINT \"ConnectionControl msg\"","links":["5407d8cb.6a807"],"x":955,"y":100,"wires":[["aab87e30.f691d8"]]},{"id":"79161da.7a7e6e4","type":"link out","z":"5e18ef6b.bda66","name":"IN-PRINT I2C_Out \"output msg\"","links":["7c4989a0.3107a"],"x":175,"y":340,"wires":[]},{"id":"7c4989a0.3107a","type":"link in","z":"5e18ef6b.bda66","name":"OUT-PRINT I2C_Out \"output msg\"","links":["79161da.7a7e6e4"],"x":955,"y":160,"wires":[["36c25c1f.9f70e4"]]},{"id":"77ac8f44.d60dd8","type":"debug","z":"5e18ef6b.bda66","name":"I2C_SCAN msg-output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":40,"wires":[]},{"id":"5e965caf.e074fc","type":"link in","z":"5e18ef6b.bda66","name":"OUT-PRINT I2C_SCAN \"output msg\"","links":["c3bd1c43.298378"],"x":955,"y":40,"wires":[["77ac8f44.d60dd8"]]},{"id":"c3bd1c43.298378","type":"link out","z":"5e18ef6b.bda66","name":"IN-PRINT I2C_Scan \"output msg\"","links":["5e965caf.e074fc"],"x":515,"y":40,"wires":[]},{"id":"565c4fb3.1038a8","type":"link out","z":"5e18ef6b.bda66","name":"IN-SEND to SimulatorBackend","links":["7fe2c345.97e3cc"],"x":835,"y":420,"wires":[]},{"id":"7fe2c345.97e3cc","type":"link in","z":"5e18ef6b.bda66","name":"OUT-SEND to SimulatorBackend","links":["565c4fb3.1038a8"],"x":955,"y":220,"wires":[["1739bc5b.7c759c"]]},{"id":"4c4f9afe.615214","type":"link out","z":"5e18ef6b.bda66","name":"IN-SEND to SimulatorBackend","links":[],"x":835,"y":120,"wires":[]},{"id":"a7e39227.6b1b68","type":"link out","z":"5e18ef6b.bda66","name":"IN- ERROR I2C_Address","links":["acf5134d.d8819"],"x":175,"y":640,"wires":[]},{"id":"acf5134d.d8819","type":"link in","z":"5e18ef6b.bda66","name":"OUT- ERROR I2C_Address","links":["a7e39227.6b1b68"],"x":955,"y":280,"wires":[["69f1e9bf.9cf4d8"]]},{"id":"de7cb494.c55a4","type":"inject","z":"5e18ef6b.bda66","name":"Execute I2C SCAN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":40,"wires":[["f06b6902.8f1778"]]},{"id":"96aebf4d.db9578","type":"websocket-listener","path":"/ws","wholemsg":"false"}]