box_raspberry_atmega/Bluecity_Raspberry-NodeRed_FLOWS/Simulator_AtemegaBOX.json
[{"id":"cb82f15e.0ac328","type":"tab","label":"Simulator_Atmega","disabled":false,"info":""},{"id":"dcd26981.f6f928","type":"websocket in","z":"cb82f15e.0ac328","name":"Simulator_Backend_Client - Request","server":"96aebf4d.db9578","client":"","x":180,"y":60,"wires":[["5b7b0692.105db"]]},{"id":"5b7b0692.105db","type":"switch","z":"cb82f15e.0ac328","name":"connection Control","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"connected\":\"hello\"}","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":120,"wires":[["a9608e94.fafbf8","f828bd04.2fd04"],["f828bd04.2fd04"]]},{"id":"a9608e94.fafbf8","type":"function","z":"cb82f15e.0ac328","name":"welcome","func":"msg.payload = \"welcome\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":100,"wires":[["43a8a2b7.f436ac","2752fcb.2c3cb04"]]},{"id":"43a8a2b7.f436ac","type":"websocket out","z":"cb82f15e.0ac328","name":"Simulator_Backend_Client - Response","server":"96aebf4d.db9578","client":"","x":970,"y":60,"wires":[]},{"id":"3e4b4af8.33d9c6","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => open-box","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"102","payloadType":"str","x":140,"y":180,"wires":[["4856dead.ba7048"]]},{"id":"d2ba2c82.656c68","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => charger-plugged-in","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"101","payloadType":"str","x":170,"y":220,"wires":[["4856dead.ba7048"]]},{"id":"81a45d06.fa5b1","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => box-closed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"155","payloadType":"str","x":140,"y":300,"wires":[["4856dead.ba7048"]]},{"id":"6cc4976a.5c41d","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => charger unplugged","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"str","x":170,"y":260,"wires":[["4856dead.ba7048"]]},{"id":"4856dead.ba7048","type":"function","z":"cb82f15e.0ac328","name":"Estableciendo Nº de BOX","func":"\nlet address= \"3\";\nmsg.payload= {\"address\":address, \"statusCode\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["43a8a2b7.f436ac","446c9847.1313f8"]]},{"id":"d825019e.7749d","type":"debug","z":"cb82f15e.0ac328","name":"Connection Control msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"6513314c.5b68c8","type":"debug","z":"cb82f15e.0ac328","name":"SEND to SimulatorBackend","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":280,"wires":[]},{"id":"b580b33c.43a0e","type":"link in","z":"cb82f15e.0ac328","name":"Connection Control-IN","links":["f828bd04.2fd04"],"x":775,"y":220,"wires":[["d825019e.7749d"]]},{"id":"f828bd04.2fd04","type":"link out","z":"cb82f15e.0ac328","name":"Connection Control-OUT","links":["b580b33c.43a0e"],"x":595,"y":160,"wires":[]},{"id":"5052521e.d4723c","type":"link in","z":"cb82f15e.0ac328","name":"SendToSimulatorBackend-IN","links":["2752fcb.2c3cb04","446c9847.1313f8"],"x":775,"y":280,"wires":[["6513314c.5b68c8"]]},{"id":"446c9847.1313f8","type":"link out","z":"cb82f15e.0ac328","name":"SendToSimulatorBackend-OUT","links":["5052521e.d4723c"],"x":675,"y":280,"wires":[]},{"id":"2752fcb.2c3cb04","type":"link out","z":"cb82f15e.0ac328","name":"SendToSimulatorBackend-OUT","links":["5052521e.d4723c"],"x":735,"y":40,"wires":[]},{"id":"96aebf4d.db9578","type":"websocket-listener","path":"/ws","wholemsg":"false"}]