box_raspberry_atmega/nodeRed_Simulator_Atmega/simulator_Atmega.json
[{"id":"cb82f15e.0ac328","type":"tab","label":"Simulator_Atmega","disabled":false,"info":""},{"id":"dcd26981.f6f928","type":"websocket in","z":"cb82f15e.0ac328","name":"Client Request","server":"96aebf4d.db9578","client":"","x":140,"y":260,"wires":[["5b7b0692.105db"]]},{"id":"5b7b0692.105db","type":"switch","z":"cb82f15e.0ac328","name":"connection Control","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"connected\":\"hello\"}","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":260,"wires":[["a9608e94.fafbf8","9ae7e545.61fca8"],["be847461.16e12","6bf4db52.456f54"]]},{"id":"be847461.16e12","type":"debug","z":"cb82f15e.0ac328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"9ae7e545.61fca8","type":"debug","z":"cb82f15e.0ac328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"a9608e94.fafbf8","type":"function","z":"cb82f15e.0ac328","name":"welcome","func":"msg.payload = \"welcome\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":140,"wires":[["6bf4db52.456f54"]]},{"id":"43a8a2b7.f436ac","type":"websocket out","z":"cb82f15e.0ac328","name":"Response To Client","server":"96aebf4d.db9578","client":"","x":1030,"y":380,"wires":[]},{"id":"6bf4db52.456f54","type":"rbe","z":"cb82f15e.0ac328","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":890,"y":280,"wires":[["43a8a2b7.f436ac"]]},{"id":"3e4b4af8.33d9c6","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => open-box","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"str","x":220,"y":340,"wires":[["43a8a2b7.f436ac"]]},{"id":"d2ba2c82.656c68","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => charger-plugged-in","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"str","x":250,"y":420,"wires":[["43a8a2b7.f436ac"]]},{"id":"81a45d06.fa5b1","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => box-closed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"str","x":220,"y":380,"wires":[["43a8a2b7.f436ac"]]},{"id":"6cc4976a.5c41d","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => charger unplugged","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"400","payloadType":"str","x":250,"y":460,"wires":[["43a8a2b7.f436ac"]]},{"id":"96aebf4d.db9578","type":"websocket-listener","path":"/ws","wholemsg":"false"}]