box_raspberry_atmega/nodeRed_Simulator_Atmega/simulator_Atmega.json
[{"id":"cb82f15e.0ac328","type":"tab","label":"Simulator_Atmega","disabled":false,"info":""},{"id":"dcd26981.f6f928","type":"websocket in","z":"cb82f15e.0ac328","name":"Client Request","server":"96aebf4d.db9578","client":"","x":120,"y":240,"wires":[["5b7b0692.105db"]]},{"id":"5b7b0692.105db","type":"switch","z":"cb82f15e.0ac328","name":"connection Control","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"connected\":\"hello\"}","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":260,"wires":[["a9608e94.fafbf8","9ae7e545.61fca8"],["be847461.16e12"]]},{"id":"be847461.16e12","type":"debug","z":"cb82f15e.0ac328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":300,"wires":[]},{"id":"9ae7e545.61fca8","type":"debug","z":"cb82f15e.0ac328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"a9608e94.fafbf8","type":"function","z":"cb82f15e.0ac328","name":"welcome","func":"msg.payload = \"welcome\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":80,"wires":[["43a8a2b7.f436ac"]]},{"id":"43a8a2b7.f436ac","type":"websocket out","z":"cb82f15e.0ac328","name":"Response To Client","server":"96aebf4d.db9578","client":"","x":1030,"y":380,"wires":[]},{"id":"3e4b4af8.33d9c6","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => open-box","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"str","x":200,"y":380,"wires":[["4856dead.ba7048"]]},{"id":"d2ba2c82.656c68","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => charger-plugged-in","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"str","x":230,"y":460,"wires":[["4856dead.ba7048"]]},{"id":"81a45d06.fa5b1","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => box-closed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"str","x":180,"y":420,"wires":[["4856dead.ba7048"]]},{"id":"6cc4976a.5c41d","type":"inject","z":"cb82f15e.0ac328","name":"ACTION => charger unplugged","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"400","payloadType":"str","x":230,"y":500,"wires":[["4856dead.ba7048"]]},{"id":"d2dd49e3.fdc628","type":"function","z":"cb82f15e.0ac328","name":"","func":"\naux= JSON.parse(msg.payload);\nmsg.payload= {\"address\":aux.address, \"statusCode\":\"400\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":220,"wires":[["43a8a2b7.f436ac"]]},{"id":"4856dead.ba7048","type":"function","z":"cb82f15e.0ac328","name":"","func":"msg.payload= {\"address\":\"3\", \"statusCode\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":460,"wires":[["43a8a2b7.f436ac","be847461.16e12"]]},{"id":"96aebf4d.db9578","type":"websocket-listener","path":"/ws","wholemsg":"false"}]