RasPi_NODE-RED_FLOWS/BluCi_I2C_Atmega-BOX-TESTING.json
[{"id":"da316c59.ba1a2","type":"tab","label":"BluCi_I2C_Atmega-BOX-TESTING","disabled":false,"info":"\n--TESTEAR el BOX y sus CODIGOSdeRESPUESTA\n-Contiene todos los COMANDOS posibles a ejecutar\n------------------------------------------------\n\nRaspberryPi == I2C MASTER\nAtmega328p == I2C SLAVE"},{"id":"1f9b3a8.f5de9c6","type":"i2c scan","z":"da316c59.ba1a2","name":"","busno":"1","x":580,"y":40,"wires":[["f3a22bdb.af6258"],[]]},{"id":"d66934d1.ce99b8","type":"i2c in","z":"da316c59.ba1a2","name":"","busno":"1","address":"","command":"","count":"3","x":310,"y":400,"wires":[["c64ffd6f.67cf7"]]},{"id":"ae67b18e.eb695","type":"i2c out","z":"da316c59.ba1a2","name":"","busno":"1","address":"15","command":"","payload":"cabesa","payloadType":"str","count":"2","x":370,"y":200,"wires":[["5712dcde.8339a4"]]},{"id":"5b827a47.be03e4","type":"inject","z":"da316c59.ba1a2","name":"A(65)-->FreeBox","props":[{"p":"address","v":"15","vt":"str"},{"p":"command","v":"65","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":140,"wires":[["ae67b18e.eb695"]]},{"id":"fdd6521f.f3c96","type":"debug","z":"da316c59.ba1a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"77a11f55.9bcbd","type":"inject","z":"da316c59.ba1a2","name":"","props":[{"p":"address","v":"15","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":400,"wires":[["d66934d1.ce99b8"]]},{"id":"c64ffd6f.67cf7","type":"function","z":"da316c59.ba1a2","name":"arrayHex_To_String","func":"msg.payload= msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":380,"wires":[["462abd50.f171f4","fdd6521f.f3c96"]]},{"id":"c21231a3.953","type":"inject","z":"da316c59.ba1a2","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":370,"y":40,"wires":[["1f9b3a8.f5de9c6"]]},{"id":"f3a22bdb.af6258","type":"debug","z":"da316c59.ba1a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"5a47b8e4.acba48","type":"debug","z":"da316c59.ba1a2","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":600,"wires":[]},{"id":"462abd50.f171f4","type":"switch","z":"da316c59.ba1a2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK     ","vt":"str"},{"t":"eq","v":"330","vt":"str"},{"t":"eq","v":"320","vt":"str"},{"t":"eq","v":"310","vt":"str"},{"t":"eq","v":"311","vt":"str"},{"t":"eq","v":"300","vt":"str"},{"t":"eq","v":"301","vt":"str"},{"t":"eq","v":"350","vt":"str"},{"t":"eq","v":"351","vt":"str"},{"t":"eq","v":"352","vt":"str"}],"checkall":"true","repair":true,"outputs":10,"x":710,"y":400,"wires":[["fdd6521f.f3c96"],["fdd6521f.f3c96","16a20e15.df2bf2"],["16a20e15.df2bf2","fdd6521f.f3c96"],["16a20e15.df2bf2","fdd6521f.f3c96"],["fdd6521f.f3c96","16a20e15.df2bf2"],["16a20e15.df2bf2","fdd6521f.f3c96"],["16a20e15.df2bf2","fdd6521f.f3c96"],["fdd6521f.f3c96","16a20e15.df2bf2"],["fdd6521f.f3c96","16a20e15.df2bf2"],["fdd6521f.f3c96","16a20e15.df2bf2"]]},{"id":"b0e5ff53.7f771","type":"catch","z":"da316c59.ba1a2","name":"","scope":null,"uncaught":false,"x":110,"y":600,"wires":[["5a47b8e4.acba48"]]},{"id":"61557105.30ec6","type":"comment","z":"da316c59.ba1a2","name":"iterando para SEGUIMIENTO de BOX","info":"","x":470,"y":460,"wires":[]},{"id":"f556093.d5312f8","type":"inject","z":"da316c59.ba1a2","name":"B(66)-->ReservedBox","props":[{"p":"address","v":"15","vt":"str"},{"p":"command","v":"66","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":180,"wires":[["ae67b18e.eb695"]]},{"id":"9e694373.42219","type":"inject","z":"da316c59.ba1a2","name":"C(67)-->OccupiedBox","props":[{"p":"address","v":"15","vt":"str"},{"p":"command","v":"67","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":220,"wires":[["ae67b18e.eb695"]]},{"id":"cf80defc.b32b5","type":"inject","z":"da316c59.ba1a2","name":"Z(90)-->offLEDS","props":[{"p":"address","v":"15","vt":"str"},{"p":"command","v":"90","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":260,"wires":[["ae67b18e.eb695"]]},{"id":"5712dcde.8339a4","type":"function","z":"da316c59.ba1a2","name":"set msg.command at NULL","func":"msg.command=null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":300,"wires":[["d66934d1.ce99b8"]]},{"id":"16a20e15.df2bf2","type":"delay","z":"da316c59.ba1a2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":540,"wires":[["d66934d1.ce99b8"]]},{"id":"2f5964a9.5092ec","type":"comment","z":"da316c59.ba1a2","name":"COMANDOS EXISTENTES","info":"","x":120,"y":100,"wires":[]},{"id":"61c46663.85dbb8","type":"inject","z":"da316c59.ba1a2","name":"R(82)-->activateBox","props":[{"p":"address","v":"15","vt":"str"},{"p":"command","v":"82","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":300,"wires":[["ae67b18e.eb695"]]},{"id":"11a41216.834c3e","type":"inject","z":"da316c59.ba1a2","name":"S(83)-->deactivateBox","props":[{"p":"address","v":"15","vt":"str"},{"p":"command","v":"83","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":340,"wires":[["ae67b18e.eb695"]]},{"id":"a9cf8e51.b3f7d","type":"comment","z":"da316c59.ba1a2","name":"Escanear Dispositivos I2C VIVOS ","info":"","x":170,"y":20,"wires":[]}]